 

 .site-header{ 
  background-color: $header-bg-color;
} 
.header{ 
 padding: 77px 0px 130px;
 display: flex; 
 align-items: center; 
 
} 
.header__logo-link{  
  width: 100%;
 max-width: 160px; 
 height: 40px; 
 text-decoration: none; 
 margin-right: 40px;
} 
.header__list{  
 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding-left: 0px; 
  list-style: none;
} 
.header__item-link{ 
  text-decoration: none; 
  margin-left: 40px; 
  font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
}   

.header__item-link:hover{ 
 color: crimson;

}
.header__item-activ{ 
   margin-right: 577px;
} 

.header__contact{  
    padding: 11px 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;    
 text-decoration: none; 
 border: 2px solid #FFFFFF;
border-radius: 24px;
}  
.header__contact:active{ 
 background-color: #FFFFFF; 
 color: #333;
} 
.btn{  
  display: none;
 background-color: transparent; 
border: none; 
font-size: 20px;
 color: #FFFFFF; 
 width: 30px;
}

@media only screen and ( max-width:768px){ 
.header{ 
display: flex; 
justify-content: space-between;

} 

 
.header__item-activ{ 
 margin-right: 0; 
 margin-right: 200px;
} 
}
@media only screen and ( max-width:375px){ 
  .header{ 
    display: flex; 
    justify-content: space-between;
    
    }  
    .header__list{ 
     display: none;
    }
    .btn{   
      display: inline-block;
     background-color: transparent; 
    border: none; 
    font-size: 20px;
     color: #FFFFFF; 
     width: 30px;
    }
}
   

